<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventSource4Net" version="0.4.0.0" targetFramework="net46" />
  <package id="Marvin.JsonPatch" version="0.9.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net46" />
  <package id="Streamdata.Client" version="1.2.2.0" targetFramework="net45" />
</packages>