<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  setup here your secret key from streamdata.io in order
          run end 2 end tests
     -->
    <add key="streamdata:secretkey" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>